body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    padding: 40px;
}

.title {
    text-align: center;
    color: #333;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

thead {
    background-color: #007BFF;
    /* blue header */
    color: white;
}

th,
td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
}




.blueBanner {
    background-color: #007BFF;
    /* bright blue */
    color: white;
    /* white text */
    padding: 10px;
    border-radius: 6px;
}

.markRow {
    background-color: #e6f2ff;
    /* light blue background */
    color: #0d3b66;
    /* dark blue text */
    font-weight: bold;
}